@font-face {
    font-family: 'RL';
    src: url(../Fonts/Rubik-Light.ttf);}
@font-face {
    font-family: 'RR';
    src: url(../Fonts/Rubik-Regular.ttf);}
@font-face {
    font-family: 'RSB';
    src: url(../Fonts/Rubik-SemiBold.ttf);
}